{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Khaliss</title>
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
<div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Connexion à Khaliss</p>

      <form action="/se_connecter" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="input" class="form-control" placeholder="Identfiant" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Mot de passe" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
          </div>
          <!-- /.col -->
          <div class="row">
            {% if messages %}
              <div class="col-12">
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px;">{{ message }}</div>
                  {%endif%}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>

<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>